/*/*loader effect*/

body {
    margin: 0;
    background: #333;
}

@keyframes arrow-spin {
    100% {
        transform: rotate(179deg);
    }
}

@-webkit-keyframes arrow-spin {
    100% {
        -webkit-transform: rotate(179deg);
    }
}

.psoload,
.psoload *,
.psoload *:before,
.psoload *:after {
    box-sizing: border-box;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.psoload {
    position: relative;
    margin: 30px auto;
    height: 150px;
    width: 150px;
}

    .psoload .straight,
    .psoload .curve {
        position: absolute;
        top: 17.5%;
        left: 17.5%;
        width: 65%;
        height: 65%;
        border-radius: 100%;
        animation: arrow-spin 0.85s cubic-bezier(0.2, 0.8, 0.9, 0.1) infinite;
        -webkit-animation: arrow-spin 0.85s cubic-bezier(0.2, 0.8, 0.9, 0.1) infinite;
    }

        .psoload .straight:before,
        .psoload .straight:after {
            content: '';
            position: absolute;
            width: 15%;
            border-bottom: 3px solid #eee;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }

        .psoload .straight:before {
            top: 5px;
            left: 5px;
        }

        .psoload .straight:after {
            bottom: 5px;
            right: 5px;
        }

        .psoload .curve:before,
        .psoload .curve:after {
            content: '';
            position: absolute;
            width: 45px;
            height: 10px;
            border: solid 3px transparent;
            border-top-color: #eee;
            border-radius: 50%/10px 10px 0 0;
            z-index: 90001;
        }

        .psoload .curve:before {
            transform: rotate(-63deg) translateX(-27px) translateY(-4px);
            -webkit-transform: rotate(-63deg) translateX(-27px) translateY(-4px);
        }

        .psoload .curve:after {
            bottom: 5px;
            right: 5px;
            transform: rotate(115deg) translateX(-26px) translateY(-12px);
            -webkit-transform: rotate(115deg) translateX(-26px) translateY(-12px);
        }

    .psoload .center {
        position: absolute;
        top: 20%;
        left: 20%;
        width: 60%;
        height: 60%;
        border-radius: 100%;
        border: 3px solid #eee;
    }

    .psoload .inner {
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        border-radius: 100%;
        animation: arrow-spin 0.85s cubic-bezier(0.2, 0.8, 0.9, 0.1) infinite reverse;
        -webkit-animation: arrow-spin 0.85s cubic-bezier(0.2, 0.8, 0.9, 0.1) infinite reverse;
    }

        .psoload .inner:before,
        .psoload .inner:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-bottom-width: 11px;
            border-bottom-color: #eee;
        }

        .psoload .inner:before {
            top: 12px;
            left: 12px;
            transform: rotate(128deg);
            -webkit-transform: rotate(128deg);
        }

        .psoload .inner:after {
            bottom: 12px;
            right: 12px;
            transform: rotate(-48deg);
            -webkit-transform: rotate(-48deg);
        }

/*3 circles loader effect*/

/* Inspirated from  http://www.alessioatzeni.com/wp-content/tutorials/html-css/CSS3-loading-animation-loop/index.html */
/*.ouro {
    position: relative;
    display: inline-block;
    height: 46px;
    width: 46px;
    margin: 1em;
    border-radius: 50%;
    background: none repeat scroll 0 0 #DDDDDD;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,.1) inset, 0 0 25px rgba(0,0,255,0.075);
}

    .ouro:after {
        content: "";
        position: absolute;
        top: 9px;
        left: 9px;
        display: block;
        height: 28px;
        width: 28px;
        background: none repeat scroll 0 0 #F2F2F2;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
    }

    .ouro > span {
        position: absolute;
        height: 100%;
        width: 50%;
        overflow: hidden;
    }

.left {
    left: 0
}

.right {
    left: 50%
}

.anim {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 999px;
    background: none repeat scroll 0 0 #508EC3;
    opacity: 0.8;
    -webkit-animation: ui-spinner-rotate-left 3s infinite;
    animation: ui-spinner-rotate-left 3s infinite;
    -webkit-transform-origin: 0 50% 0;
    transform-origin: 0 50% 0;
}

.left .anim {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.right .anim {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    left: -100%;
    -webkit-transform-origin: 100% 50% 0;
    transform-origin: 100% 50% 0;
}

/* v2 */
.ouro2 .anim {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

.ouro2 .right .anim {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

/* v3 */
.ouro3 .anim {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.ouro3 .right .anim {
    -webkit-animation-name: ui-spinner-rotate-right;
    -webkit-animation-delay: 0;
    -webkit-animation-delay: 1.5s;
    animation-name: ui-spinner-rotate-right;
    animation-delay: 0;
    animation-delay: 1.5s;
}

/* round variation */
.round .ouro:after {
    display: none
}

/* double variation */
.double .ouro:after {
    height: 13px;
    width: 13px;
    left: 7px;
    top: 7px;
    border: 10px solid #ddd;
    background: transparent;
    box-shadow: none;
}

@keyframes ui-spinner-rotate-right {
    0% {
        transform: rotate(0deg)
    }

    25% {
        transform: rotate(180deg)
    }

    50% {
        transform: rotate(180deg)
    }

    75% {
        transform: rotate(360deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes ui-spinner-rotate-left {
    0% {
        transform: rotate(0deg)
    }

    25% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(180deg)
    }

    75% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes ui-spinner-rotate-right {
    0% {
        -webkit-transform: rotate(0deg)
    }

    25% {
        -webkit-transform: rotate(180deg)
    }

    50% {
        -webkit-transform: rotate(180deg)
    }

    75% {
        -webkit-transform: rotate(360deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes ui-spinner-rotate-left {
    0% {
        -webkit-transform: rotate(0deg)
    }

    25% {
        -webkit-transform: rotate(0deg)
    }

    50% {
        -webkit-transform: rotate(180deg)
    }

    75% {
        -webkit-transform: rotate(180deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

/*
 * Some bugs with Chrome (Android), Safari and Opera, I'll try to see how http://atomeye.com/projects/sass-css-spinner.html made his code.
 */

/* presentation styles */
html {
    height: 100%
}

body {
    text-align: center;
    background: radial-gradient(circle, #fff 0%, #bbb 85%) no-repeat;
    background: -webkit-radial-gradient(circle, #fff 0%, #bbb 85%) no-repeat;
    height: 100%;
    display: table;
    width: 100%
}

.block {
    display: table-cell;
    vertical-align: middle
}

h1, a {
    margin-top: 1em;
    font-family: "Open Sans Light", "Open Sans", "Segoe UI", Helvetica, Arial;
    color: #888;
    font-weight: lighter;
}

.info {
    margin-top: 25px
}

    .info a {
        font-size: 12px;
        color: #999
    }

    .info br + a {
        text-decoration: none
    }*/*/
/*#FLECHAloader {
    background: #1e1e1e;
}

.socket {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px;
}

.hex-brick {
    background: #7f7f75;
    width: 30px;
    height: 17px;
    position: absolute;
    top: 5px;
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

.h2 {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}

.h3 {
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
}

.gel {
    height: 30px;
    width: 30px;
    transition: all .3s;
    -webkit-transition: all .3s;
    position: absolute;
    top: 50%;
    left: 50%;
}

.center-gel {
    margin-left: -15px;
    margin-top: -15px;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

.c1 {
    margin-left: -47px;
    margin-top: -15px;
}

.c2 {
    margin-left: -31px;
    margin-top: -43px;
}

.c3 {
    margin-left: 1px;
    margin-top: -43px;
}

.c4 {
    margin-left: 17px;
    margin-top: -15px;
}

.c5 {
    margin-left: -31px;
    margin-top: 13px;
}

.c6 {
    margin-left: 1px;
    margin-top: 13px;
}

.c7 {
    margin-left: -63px;
    margin-top: -43px;
}

.c8 {
    margin-left: 33px;
    margin-top: -43px;
}

.c9 {
    margin-left: -15px;
    margin-top: 41px;
}

.c10 {
    margin-left: -63px;
    margin-top: 13px;
}

.c11 {
    margin-left: 33px;
    margin-top: 13px;
}

.c12 {
    margin-left: -15px;
    margin-top: -71px;
}

.c13 {
    margin-left: -47px;
    margin-top: -71px;
}

.c14 {
    margin-left: 17px;
    margin-top: -71px;
}

.c15 {
    margin-left: -47px;
    margin-top: 41px;
}

.c16 {
    margin-left: 17px;
    margin-top: 41px;
}

.c17 {
    margin-left: -79px;
    margin-top: -15px;
}

.c18 {
    margin-left: 49px;
    margin-top: -15px;
}

.c19 {
    margin-left: -63px;
    margin-top: -99px;
}

.c20 {
    margin-left: 33px;
    margin-top: -99px;
}

.c21 {
    margin-left: 1px;
    margin-top: -99px;
}

.c22 {
    margin-left: -31px;
    margin-top: -99px;
}

.c23 {
    margin-left: -63px;
    margin-top: 69px;
}

.c24 {
    margin-left: 33px;
    margin-top: 69px;
}

.c25 {
    margin-left: 1px;
    margin-top: 69px;
}

.c26 {
    margin-left: -31px;
    margin-top: 69px;
}

.c27 {
    margin-left: -79px;
    margin-top: -15px;
}

.c28 {
    margin-left: -95px;
    margin-top: -43px;
}

.c29 {
    margin-left: -95px;
    margin-top: 13px;
}

.c30 {
    margin-left: 49px;
    margin-top: 41px;
}

.c31 {
    margin-left: -79px;
    margin-top: -71px;
}

.c32 {
    margin-left: -111px;
    margin-top: -15px;
}

.c33 {
    margin-left: 65px;
    margin-top: -43px;
}

.c34 {
    margin-left: 65px;
    margin-top: 13px;
}

.c35 {
    margin-left: -79px;
    margin-top: 41px;
}

.c36 {
    margin-left: 49px;
    margin-top: -71px;
}

.c37 {
    margin-left: 81px;
    margin-top: -15px;
}

.r1 {
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .2s;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .2s;
}

.r2 {
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .4s;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .4s;
}

.r3 {
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .6s;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .6s;
}

.r1 > .hex-brick {
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .2s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .2s;
}

.r2 > .hex-brick {
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .4s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .4s;
}

.r3 > .hex-brick {
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .6s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .6s;
}


@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.01);
        transform: scale(0.01);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes fade {
    0% {
        background: #990000;
    }

    50% {
        background: #c60101;
    }

    100% {
        background: #440808;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.01);
        transform: scale(0.01);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes fade {
    0% {
        background: #ABF8FF;
    }

    50% {
        background: #389CA6;
    }

    100% {
        background: #ABF8FF;
    }
}*/
/*#loader {
    margin: auto;
    margin-top: 80px;
    background: transparent;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.flecha1 {
    position: absolute;
    margin: auto;
    width: 0;
    height: 0;
    border-top: 90px solid transparent;
    border-right: 90px solid #64B5F6;
    border-right: 90px solid #8e1111;
    border-radius: 5% 0% 100% 0%;
    -moz-border-radius: 5% 0% 100% 0%;
    transform-origin: top;
    transform: rotate(3deg);
    animation: rotator1 1.4s linear infinite;
}

.flecha2 {
    position: absolute;
    margin: auto;
    width: 0;
    height: 0;
    border-top: 90px solid transparent;
    border-right: 90px solid #cc1616;
    border-right: 90px solid #2196F3;
    border-radius: 5% 0% 100% 0%;
    transform-origin: top;
    transform: rotate(6deg);
    animation: rotator2 1.4s linear infinite;
}

.flecha3 {
    position: absolute;
    margin: auto;
    width: 0;
    height: 0;
    border-top: 90px solid transparent;
    border-right: 90px solid #c12a2a;
    border-right: 90px solid #1976D2;
    border-radius: 5% 0% 100% 0%;
    transform-origin: top;
    transform: rotate(9deg);
    animation: rotator3 1.4s linear infinite;
}

.flecha4 {
    position: absolute;
    margin: auto;
    width: 0;
    height: 0;
    border-top: 90px solid transparent;
    border-right: 90px solid #1565C0;
    border-right: 90px solid #e55b5b;
    border-radius: 5% 0% 100% 0%;
    transform-origin: top;
    transform: rotate(12deg);
    animation: rotator4 1.4s linear infinite;
}*/

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Code Pro',monospace;
    color: #0D47A1;
    font-size: 1.5em;
    animation: textAnimation 1.4s linear infinite;
}

.text2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Code Pro',monospace;
    color: #0D47A1;
    font-size: 0.7em;
}

body {
    background: #BBDEFB;
}

@keyframes textAnimation {
    0% {
        color: #0D47A1;
    }

    100% {
        color: #1A237E;
    }
}

@keyframes rotator1 {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotator2 {
    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotator3 {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotator4 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*marvel loader*/

body {
    text-align: center;
    background: black;
}

#bnw {
    position: absolute;
    top: 40vh;
    left: 50px;
}

#colored {
    position: absolute;
    top: 40vh;
    left: 50px;
    clip-path: polygon(0 0,0.01% 0,0.01% 100%,0 100%);
}

#img-container {
    position: relative;
    width: 300px;
    margin: 0px auto;
}



/*loader effect*/


/*#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}*/

#myDiv {
    display: none;
    text-align: center;
}


/*icon in top left corner*/
.glyphicon{
    display:flex;
    margin-top:10px;
    margin-left:25px;
    font-size:75px;
}

/*website under title*/
.card{
    max-width: 33vw;
}
body {
    padding-top: 100px;
    padding-bottom: 20px;
    font-family:Cambria;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*movie background*/

* {
    box-sizing: border-box;
}

.video-background {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}

    .video-foreground,
    .video-background iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

#vidtop-content {
    top: 0;
    color: #fff;
}

.vid-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;
    background: rgba(0,0,0,0.3);
    color: #fff;
    padding: 1rem;
    font-family: Avenir, Helvetica, sans-serif;
}

    .vid-info h1 {
        font-size: 2rem;
        font-weight: 700;
        margin-top: 0;
        line-height: 1.2;
    }

    .vid-info a {
        display: block;
        color: #fff;
        text-decoration: none;
        background: rgba(0,0,0,0.5);
        transition: .6s background;
        border-bottom: none;
        margin: 1rem auto;
        text-align: center;
    }

@media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-foreground {
        width: 300%;
        left: -100%;
    }
}

@media all and (max-width: 600px) {
    .vid-info {
        width: 50%;
        padding: .5rem;
    }

        .vid-info h1 {
            margin-bottom: .2rem;
        }
}

@media all and (max-width: 500px) {
    .vid-info .acronym {
        display: none;
    }
}



/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

    /* The navigation menu links */
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #f1f1f1;
        }

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}